body {
    font-family: "Cinzel", serif;
    margin: 0;
    background: url("https://i.imgur.com/0gZB3SI.png");
    background-size: cover;
}

/* CENTRADO DE LOGIN / REGISTER */
.box {
    width: 420px;
    margin: 40px auto;
    padding: 25px;
    background: #f5e8c7;
    border: 3px solid #b38b59;
    border-radius: 12px;
}

.box h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 2px solid #b38b59;
    border-radius: 8px;
}

/* BOTONES */
button {
    padding: 10px 15px;
    background: #b38b59;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
}

button:hover {
    background: #8a653f;
}

/* MENÚ USUARIO */
#userMenuContainer {
    position: absolute;
    top: 20px;
    right: 20px;
}

#userMenuButton {
    cursor: pointer;
    background: #5c3b1e;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
}

#userMenuDropdown {
    display: none;
    margin-top: 5px;
    background: #f5e8c7;
    border: 3px solid #b38b59;
    border-radius: 10px;
    padding: 12px;
}
#userMenuDropdown button {
    width: 100%;
    margin-top: 5px;
}

/* SECCIONES DEL TABLÓN */
nav {
    display: flex;
    gap: 10px;
    margin: 15px;
}

nav button.active {
    background: #5c3b1e;
}

/* TARJETAS DE MISIONES */
.mision {
    padding: 15px;
    background: #f5e8c7;
    margin: 15px;
    border-radius: 10px;
    border: 3px solid #b38b59;
}
